Requirements

App - React, Typescript:
ebook reader
EPUB compatability
Vertical or Horizontal orientation
Compatibility with OS translator
Ruby text support
(Nice to have) Ruby text lookup



API - Python, FastAPI:
Ability to get epubs from Aozora.gr.jp
Aozora browsing with Anglicised names
AI summary of previous section - use in-OS AI where possible

